<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="icon" type="image/png" th:href="@{/imagenes/img001-logo.png}" />
    <title>Registro Curso</title>
</head>
<body>
<!--Formulario de registro de curso-->
<div class="bg-white border border-4 rounded-lg shadow relative m-10">

    <div class="flex items-start justify-between p-5 border-b rounded-t">
        <h3 class="text-xl font-semibold">
            Registro de Curso
        </h3>
    </div>

    <div class="p-6 space-y-6">
        <form th:action="@{/guardarCurso}" method="post" th:object="${curso}">
            <div hidden>
                <label for="id" class="text-sm font-medium text-gray-900 block mb-2">Id Del Curso</label>
                <input type="text" name="id" id="id" th:field="*{id}" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="Id del curso">
            </div>
            <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6 sm:col-span-3">
                    <label for="nombre" class="text-sm font-medium text-gray-900 block mb-2">Nombre de Curso</label>
                    <input th:field="*{nombre}" type="text" name="nombre" id="nombre" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="1ro A" required>
                </div>

                <div class="col-span-6 sm:col-span-3">
                    <label for="nivel" class="text-sm font-medium text-gray-900 block mb-2">Nivel</label>
                    <input th:field="*{nivel}" type="text" name="nivel" id="nivel" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="Primero" required>
                </div>

                <div class="col-span-6 sm:col-span-3">
                    <label for="paralelo" class="text-sm font-medium text-gray-900 block mb-2">Paralelo</label>
                    <input th:field="*{paralelo}" type="text" name="paralelo" id="paralelo" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="A" required>
                </div>

                <div class="col-span-6 sm:col-span-3">
                    <label for="anioLectivo" class="text-sm font-medium text-gray-900 block mb-2">Año Lectivo</label>
                    <input th:field="*{anioLectivo}" type="text" name="anioLectivo" id="anioLectivo" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="2025" required>
                </div>

                <!-- Select multiple estudiantes -->
                <div class="col-span-6">
                    <label for="idsEstudiantes" class="text-sm font-medium text-gray-900 block mb-2">Seleccionar Estudiantes</label>
                    <select  name="idsEstudiantes" id="idsEstudiantes" multiple class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" size="5">
                        <option th:each="est : ${estudiantesSinCurso}"
                                th:value="${est.id}"
                                th:text="${est.nombre}">Nombre Estudiante</option>
                    </select>
                    <p class="text-xs text-gray-500 mt-1">Mantén presionada la tecla Ctrl (o Cmd en Mac) para seleccionar varios estudiantes.</p>
                </div>
                <!-- Select multiple materias -->
                <div class="col-span-6">
                    <label for="idsMaterias" class="text-sm font-medium text-gray-900 block mb-2">Seleccionar Materias</label>
                    <select  name="idsMaterias" id="idsMaterias" multiple class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" size="5">
                        <option th:each="materia : ${materiasSinCurso}"
                                th:value="${materia.id}"
                                th:text="${materia.nombre}">Nombre Estudiante</option>
                    </select>
                    <p class="text-xs text-gray-500 mt-1">Mantén presionada la tecla Ctrl (o Cmd en Mac) para seleccionar varias Materias.</p>
                </div>
            </div>

            <div class="pt-6 border-t border-gray-200 rounded-b">
                <button class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="submit">Guardar Curso</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>