<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" th:href="@{/imagenes/img001-logo.png}" />
    <title>Lista Materias</title>
</head>
<body class="bg-white text-gray-900">
<div class="relative overflow-x-auto p-4">
    <table class="w-full text-sm text-left text-gray-700 border border-gray-300">
        <thead class="text-xs uppercase bg-gray-100">
        <tr>
            <th scope="col" class="px-6 py-3 border-b">Id</th>
            <th scope="col" class="px-6 py-3 border-b">Nombre</th>
            <th scope="col" class="px-6 py-3 border-b">Profesor Asignado</th>
            <th scope="col" class="px-6 py-3 border-b">Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="materia : ${materias}" class="bg-white border-b hover:bg-gray-50">
            <th th:text="${materia.id}" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"></th>
            <td th:text="${materia.nombre}" class="px-6 py-4"></td>
            <td th:text="${materia.docente.nombre}" class="px-6 py-4"></td>
            <td class="px-6 py-4">
                <!-- Puedes reemplazar esto con tus botones o acciones -->
                <a th:href="@{/editarMateria/{id}(id=${materia.id})}" class="text-blue-600 hover:underline">Editar</a>
                |
                <a th:href="@{/eliminarMateria/{id}(id=${materia.id})}" class="text-red-600 hover:underline">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
