<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" th:href="@{/imagenes/img001-logo.png}" />
    <title>Registro de materia</title>
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center">

<form th:action="@{/guardarMateria}" method="post" th:object="${materia}" class="bg-white p-8 rounded-xl shadow-md w-full max-w-md space-y-6">
    <h2 class="text-2xl font-bold text-gray-800 text-center">Registro de Materia</h2>
    <div hidden>
        <label for="cursoid" class="block mb-1 text-sm font-medium text-gray-700">Id Del curso a que pertenece</label>
        <input
                th:field="*{curso.id}"
                type="text"
                id="cursoid"
                placeholder="id del curso"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        />
    </div>
    <div>
        <label for="nombre" class="block mb-1 text-sm font-medium text-gray-700">Nombre</label>
        <input
                th:field="*{nombre}"
                type="text"
                id="nombre"
                placeholder="Nombre de la materia"
                required
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        />
    </div>

    <div>
        <label for="profesor" class="block mb-1 text-sm font-medium text-gray-700">Asigne un Docente</label>
        <select
                id="profesor"
                th:field="*{docente.id}"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 appearance-none"
        >
            <option
                    th:each="docente : ${docentes}"
                    th:value="${docente.id}"
                    th:text="${docente.nombre}"
            ></option>
        </select>
    </div>

    <button
            type="submit"
            class="w-full bg-blue-600 hover:bg-blue-700 text-white font-medium py-2.5 px-5 rounded-lg focus:outline-none focus:ring-4 focus:ring-blue-300 transition"
    >
        Guardar
    </button>
</form>

</body>
</html>
