.seccion1Docente {
  padding-top: 50px !important;
}

.seccionDocente{
                padding-top: 90px;
                padding-bottom: 90px
}

.seccionReDocente {
  padding-top: 70px;
}

.seccionLogin {
  padding-top: 70px;
}

.seccionPreguntasFrrecuentes {
    padding: 30px;
}

.card-hover {
   transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card-hover:hover {
     transform: scale(1.05);
     box-shadow: 0 0 10px rgba(59, 130, 246, 0.7);
 }

.error-text {
    color: #dc2626;
    font-size: 10px;
    padding-top: 2px;
    display: block;
}
.seccion2 {
}


 .color1{
    background-color:#922b21;
 }

 .color2{
      background-color:#633974 ;
 }

 .color3{
      background-color:#1f618d;
 }

 .color4{
      background-color:#117a65;
 }

 .color6{
       background-color: #283747;
 }

 .color7{
   background-color: #0b5345;
 }

 .color8{
    background-color: #d4ac0d;
 }

  .color9{
     background-color: #f39c12;
  }

  .color10{
         background-color: #283747;
  }

.campo-hover {
   transition: transform 0.2s ease-in-out;
}

.campo-hover:hover {
   transform: scale(1.03);
   box-shadow: 0 0 10px rgba(59, 130, 246, 0.7);
}


.card-hover {
   transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card-hover:hover {
     transform: scale(1.05);
     box-shadow: 0 0 10px rgba(59, 130, 246, 0.7);
 }

.seccion3 {
    padding: 100px;
    background-color: #bb8fce;
 }